<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanxuanproject.mapper.UserMapper">

    <insert id="addUser">
        insert into yanxuan_user(username,password,email,phone,question,answer,role,create_time,update_time)
            values (#{username},#{password},#{email},#{phone},#{question},#{answer},#{role},now(),now())
    </insert>
    <select id="checkUsername" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(1) from yanxuan_user where username = #{username}
    </select>
    <select id="selectLogin" resultType="com.yanxuanproject.bean.User">
        select id,username,email,phone,question,answer,role from yanxuan_user where username=#{username} and password=#{md5Password}
    </select>
    <select id="checkEmail" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(1) from yanxuan_user where email = #{str}
    </select>
</mapper>